.sklep {
  text-align: center;
  background-color: #f1f1f1;
  padding: 20px;
}

h1 {
  color: green;
  font-size: 2em;
  margin-bottom: 20px;
}

.produkty {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.produkt {
  background-color: green;
  width: 200px;
  margin: 10px;
  padding: 20px;
  color: black;
}

.produkt-obraz {
  width: 100%;
  height: auto;
  background-color: white;
  border: 5px solid black;
  border-radius: 10px;
}